body{
    background-color: #333646 ;
}

strong{
    color: white;
}

h2{
    color: white
}

/*header     */
nav{
    border: 1px solid white;
}

div{
    border: 1px solid white;
    position: relative;
    display:inline;
    top: 100px;
    right: 20px;
}

#headerLogo{
    width: 60px;
    position: relative;
    left:15px;
    top: 5px;
}

