@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&family=Josefin+Sans:wght@500&family=Red+Rose:wght@600&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@500&family=Rubik:wght@700&family=Saira:wght@500&family=Scada:wght@700&family=Source+Sans+Pro&display=swap');
body{
    background-color: #333646 ;
}

/*header     */
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10;
    padding: 20px 0;
}

header.sticky{
    background: #1d1d24;
    padding: 3px 0;
}

header > nav{
    padding: 2px;
    margin: 10px 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headerLogo{
    transition: 0.6s;
    position: relative;
    width: 67px;
    padding: 10px 0 5px 30px;
}

.box{
    width: 100px;
    margin: 0 3px;
    transition: 0.6s;
    position: relative;
    justify-content: center;
    list-style: none;
}

.navigation{
    position : relative;
    margin: 8px 15px;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #9D9D9D;
    letter-spacing: 2px;
    transition: 0.6s;
    display: block;
    width: 100%;
}

.navigation:hover{
    transform: scale(1.1);
    font-size: 19px;
    color: white;
    position: relative;
}


/*page 1*/

#home{
    display: flex;
    height:100vh;
    bottom: 0;

}

#home #span1{
    position: absolute;
    top: 22vh;
    left: 50vw;
    text-shadow: -6px 5px 5px black;
    color: #EBEBEC;
    font-family: 'Salsa', cursive;
    font-size: 37px;
}

#home #span2{
    font-family: 'Baloo Bhaijaan 2', cursive;
    top: 29vh;
    left: 40vw;
    position: absolute;
    text-shadow: -6px 5px 5px black;
    color: #FFC25C;
    font-size: 75px;
}

#home #span3{
    font-family: 'Source Sans Pro', sans-serif;
    top: 41vh;
    left: 72vw;
    text-shadow: -6px 5px 5px black;
    position: absolute;
    color: #94969E;
    font-size: 20px;
    font-weight: bold;
}

#home ul{
    position: absolute;
    top: 42vh;
    font-family: 'Rubik', sans-serif;
    text-shadow: -6px 5px 5px black;
    right: 13vw;
    font-size: 30px;
    list-style: none;
}

#home ul li{
    margin-top: 6px;
    color: white;
}

#home button {
    position: absolute;
    bottom: 20vh;
    right: 20vw;
    left: 50vw;
    top: 35vw;
    margin: auto;
    width: 160px;
    height: 52px;
    border: white solid 4px;
    border-radius: 25px;
    background-color: #FFC25C;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: -10px 9px 18px -4px black;

}

#home button:hover{
    width: 170px;
    height: 55px;
    font-size: 27px;
    transition: 0.4s;
}

#socialLinks{
    position: absolute;
    bottom: 65px;
    right: 340px;
    width: 26%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: 0.6s;

}

#socialLinks .sLink{
    width: 60px;
    padding-left: 20px;
}

#socialLinks img{
    display: block;
    width: 100%;
    transition: 0.2s;
    filter: drop-shadow(-6px 6px 3px black);
}

#socialLinks img:hover{
    transform: scale(1.2);
}

#br1{
    width: 605px;
    position: absolute;
    object-fit: cover;
    top: 130px;
    left: -24px;
}

#dp1{
    width: 570px;
    position: absolute;
    bottom: 0;
    left: -12px;
}

/*about 2*/


#about{
    position: relative;
    height: 90vh;
}

#about article{
    position: relative;
    left: 10vw;
    font-family: 'Saira', sans-serif;
    top: 7vw;
    display: inline-block;
}

#about article h3{
    color: #919298;
    font-size: 20px;
}

#about article h1{
    color: #E7E7E7;
    font-size: 30px;
}

#about article p{
    color: #B9BCCB;
    font-size: 22px;
    width: 500px;
}

#br2{
    width: 604px;
    position: absolute;
    right: 36px;
    bottom: -32px;

}

#dp2{
    width: 400px;
    position: absolute;
    right: 150px;
    bottom: -8px;
}

#about button{
    position: absolute;
    bottom: 20vh;
    right: 100vw;
    left: 40vw;
    top: 36vw;
    margin: auto;
    width: 165px;
    height: 40px;
    border: white solid 2px;
    border-radius: 25px;
    background-color: #5E81F4;
    font-size: 20px;
    color: #FFC25C;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: -10px 9px 18px -4px black;
    text-shadow: -2px 1px 10px black;
}

#about button:hover{
    width: 168px;
    height: 43px;
    font-size: 21px;
    transition: 0.4s;
}

/*services 3*/

#service{
    position: relative;
}

#content{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 79vh;
    width: 100vh;
    flex-direction: column;
    align-content: space-between;
    top: 107px;
    left: 22%;
}

#content div{
    background-color: #424657;
    position: relative;
    margin: 25px;
    padding: 12px;
    width: 27%;
    height: 30%;
    box-shadow: -9px 11px 41px -6px black;
}

#content div:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

#content img{
    width: 35px;
    position: absolute;
    top: 69px;
    left: 28px;
    filter: drop-shadow(-3px 2px 3px black);
}

#content p{
    font-family: 'Rubik', sans-serif;
    color: #ECECEE;
    bottom: 20px;
    position: absolute;
    display: inline-block;
    width: 112px;
    top: 89px;
    left: 62px;
    font-size: 19px;
    text-shadow: -2px 1px 5px black;
}

#service h1{
    position: absolute;
    top: 7%;
    left: 44%;
    margin: auto;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: -3px 2px 4px black;
}

#service #sec1{
    position: relative;
    height: 67vh;

}

#service #sec2{
    position: relative;
    height: 26vh;
}


/*skills 4*/

#skills{
    position: relative;
    background-color: #252734;
    height: 75vh;
}

#skills aside{
    position: relative;
    left: 12%;
    padding-top:5% ;
    font-family: 'Saira', sans-serif;
    width: 25%;
}

#skills h3{
    display: inline;
    color: #919298;
    font-size: 20px;
}

#skills h1{
    color: white;
}

#skills p{
    color: #D2CECE;
}

#skills .big{
    color: #E9B258;
    font-size: 100px;
    display: flex;
    /*margin-top: 40px;*/
}

#bigDiv{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 79vh;
    width: 100vh;
    flex-direction: row;
    align-content: space-between;
    top: 32vh;
    left: -11%;
}

#bigDiv div{
    position: relative;
    margin: 22px;
    padding: 14px;
    width: 23%;
    height: 30%;
}

#bigDiv div:nth-child(1) h4{
    color: white;
    position: relative;
    left: 5vw;
    top: -17vh;
    width: 70px;
}

#bigDiv div:nth-child(2) h4{
    color: white;
    position: relative;
    left: 5vw;
    top: -17vh;
    width: 10px;
}

 #skillFlex{
     display: flex;
     position: relative;
     flex-wrap: wrap;
     height: 48vh;
     width: 52vh;
     flex-direction: column;
     align-content: space-between;
     top: -181px;
     left: 59%;
}

#skillFlex figure{
    position: relative;
    margin: 18px;
    padding: 14px;
    width: 29%;
    height: 30%;
}

#skillFlex figure:hover{
    background-color: #424657;
    transition: 0.2s;
    transform: scale(1.1);
}

#skillFlex figure figcaption{
    color: #B9B9B9;
    position: absolute;
    font-family: 'Righteous', cursive;
    left: 0;
    bottom: 0;
    top: 94px;
    right: 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#skillFlex img{
    width: 70px;
    margin-left: 18px;
}

#mysql{
    width: 85px!important;
    margin-left: 10px!important;
}

/*projects*/

#projects{
    position: relative;
    height: 90vh;
}

#projects section{
    position: relative;
    width: 25%;
    min-height: 80vh;

}

.card{
    position: relative;
    background: #fff;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.card .content{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.swiper-container{
    width: 800px;
    display: block;
    top: 122px;
    height: 380px;

}

.card .sliderText{
    position: relative;
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

#assignments{
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    margin: auto;

}

.assignment{
    width: 400px;
}


.swiper-slide{
    width: 400px;
    background-position: center;
    background-size: cover;
    height: 300px;
    /*box-shadow: -6px 6px 47px -5px black;*/
}

.content{
    position: relative;
    font-family: 'Righteous', cursive;
}

.content h2{
    display: inline;
    position: absolute;
    top: 7px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

#projects section{
    background-color: #252734;
    position: absolute;
    width: 100%;
    min-height: 42vh;
    bottom: 0;
}

/*contact*/

#contact{
    background-color: #252734;
    position: relative;
    font-family: 'Saira', sans-serif;
}

#contact > div:nth-child(2)> h1{
    display: inline;
    color: white;
}

#contact > div:nth-child(2) > p{
    color: #D2CECE;
    font-size: 17px;
}

#contact #detailsUl{
    list-style: none;
    color: #E4E4E4;
    font-family:'Roboto Condensed', sans-serif;
}

#contact #detailsUl li a{
    text-decoration: none;
    color: #E4E4E4;
}

#contact #detailsUl li  h5{
    display: inline;
    margin-left: 24px;
    position: relative;
    bottom: 5px;
    font-size: 15px;
}

#contact abbr{
    text-decoration: none;
}

#contact #detailsUl img{
    width: 30px;
    margin-top: 15px;
}

#contact div div h1{
    color: #9A9A9A;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

