body{
    background-color: #333646 ;
}

strong{
    color: white;
}

h2{
    color: white
}

/*header     */
header{
    border-top: 1px solid red;
}

nav{
    border: 1px solid white;
}

#headerLogo{
    width: 60px;
    position: relative;
    left:15px;
    top: 5px;
}

#br1{
    width:600px;
}

#dp1{
    width:400px;
    position: absolute;
    left: 0;
}

